usbcam/.vs/usbcam/FileContentIndex/c2ca47a8-c138-44f4-b37b-169eb6a2a534.vsidx
usbcam/.vs/usbcam/v17/.suo
usbcam/.vs/usbcam/v17/DocumentLayout.backup.json
usbcam/.vs/usbcam/v17/DocumentLayout.json
usbcam/.vs/usbcam/v17/Preview/Browse.VC.db
usbcam/.vs/usbcam/v17/Preview/ipch/AutoPCH/63d4bd0b9cc7e70d/USBCAM.ipch
usbcam/.vs/usbcam/v17/Preview/Solution.VC.db
usbcam/usbcam/usbcam.vcxproj
usbcam/usbcam/x64/Debug/usbcam.exe.recipe
usbcam/usbcam/x64/Debug/usbcam.exe.recipe
usbcam/usbcam/x64/Debug/usbcam.ilk
/usbcam/usbcam/x64/Debug
usbcam/usbcam/x64/Debug/usbcam.log
usbcam/usbcam/x64/Debug/usbcam.ilk
usbcam/usbcam/x64/Debug/usbcam.log
usbcam/usbcam/x64/Debug/usbcam.tlog/CL.command.1.tlog
usbcam/usbcam/x64/Debug/vc143.pdb
usbcam/usbcam/x64/Debug/vc143.idb
usbcam/x64/Debug/usbcam.exe
usbcam/usbcam/x64/Debug/usbcam.exe.recipe
usbcam/usbcam/x64/Debug/usbcam.exe.recipe
*.pdb
*.exe
*.pdb
/usbcam/usbcam/x64/Debug/usbcam.tlog
*.tlog
*.idb
